

.ui.card {
    margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.ui.menu .item:before {
    width: 0;
    background: white;
}

.ui.label {
    border-radius: 20px;
    padding: 10px;
    min-width: 100px;
    text-align: center;
    margin-left: 6px
}