.search-highlight {
    color: #58a6ff;
    background-color: rgba(56, 139, 253, .1);
    border-radius: 7px;
    padding: 5px 2px;
}

.sticky-navbar {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.ui.input.down input, .ui.input>input:active {
    background: white;
}